<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bloggy</title>
    <link rel="icon" href="/assets/images/b_icon.jpg" type="image/jpeg" sizes="32x32">
    <link rel="stylesheet" href="styles/style.css">

</head>
<body>
    <div class="container">
        
        <div class="header">
            <p class="title">Bloggy</p>
            <button class="create-button">Create</button>
        </div>

        <div class="blog-list">
            <p>Blogs</p>
            <div class="blog-titles">
                <p>Blogs Titles</p>
            </div>
        </div>

        <div class="blog-body">
            <div class="blog-body-header">
                <p class="blog-body-title">Blog Title</p>
                <div class="action-buttons">
                    <button class="update-button">U</button>
                    <button class="delete-button">D</button>
                    <button class="save-button">S</button>
                </div>
            </div>

            <div class="blog-content">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, facilis veniam maiores voluptatum et ipsum omnis reprehenderit provident dolore numquam tenetur temporibus, dolorum consectetur officiis? Dignissimos neque sit fugit, perferendis corporis, officia quam, adipisci expedita iure nihil velit quos magnam saepe repellat laborum optio. Rerum facere reiciendis nobis exercitationem ipsa nesciunt dolorum enim, deserunt similique! Vitae, molestias atque et sapiente reiciendis eius asperiores nesciunt eos, quis quam, voluptatem placeat cumque delectus maxime veritatis possimus non minima neque. Labore vitae ipsum sint doloremque reprehenderit. Cumque assumenda, aperiam dolor harum aspernatur amet voluptate labore atque quo nesciunt eveniet ullam eum iusto exercitationem?
            </div>
        </div>
    </div>
    <footer></footer>
</body>
</html>
